/* BASICS */
@import url('../css/basics/base.css');
/* @import url('/css/basics/base.css'); */
@import url('../css/basics/helpers.css');
@import url('../css/basics/layout.css');

/* COMPONENTS */
@import url('../css/components/main-header.css');
@import url('../styles/components/main-screen.css');
@import url('../css/components/main-gallery.css');
@import url('../css/components/tools-editor.css');
/* MQ */
@import url('../css/mq.css');
