header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
