header {
  background: linear-gradient(to left, #222831, #31363f);
  color: #f5e8dd;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
