.tools-editor {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 20px;
  background: #ffffff;
  color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.line-optins,
.share-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  background: #fdaf7b;
  color: #333;
  border: 1px solid #be7b72;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.2s;
}

button:hover {
  background: #fdaf7b;
  transform: translateY(-2px);
}

.font-editor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  grid-template-areas:
    'smaller bigger end center start'
    'fontxt fontxt fontxt fontxt color';
}

.font-editor .color {
  grid-area: color;
  justify-self: stretch;
  width: 100%;
  height: 30px;
}

.font-editor .big-font {
  grid-area: bigger;
}

.font-editor .small-font {
  grid-area: smaller;
}

.font-editor .start {
  grid-area: start;
}

.font-editor .center {
  grid-area: center;
}

.font-editor .end {
  grid-area: end;
}

.font-editor .font {
  grid-area: fontxt;
  width: 100%;
}

.font-editor .font select {
  width: 100%;
  height: 30px;
}
